<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
    <a  style="color:red" href="{% url 'admin_logout'%}">LogOut</a>
    <h1>BLOG LIST</h1>
    {% for i in object_list %}
    <div class="container">
        <h2>{{i.title}}</h2>
        <h4><p>Author:</p>{{i.author}} <p><b>CreatedAt:</b></p>{{i.created}}</h4>
        <h3>{{i.body}}</h3>
    </div>
    {% endfor %}

</body>
</html>